In [15]:
import pandas as pd
import numpy as np

In [16]:
Data_jantung = pd.read_csv("C:\\Users\\62813\\Downloads\\GitHub\\DM_Ade_2022\\heart.csv")
Data_jantung.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [17]:
# Variabel independen
x = Data_jantung.drop(["output"], axis = 1)
x.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [18]:
# Variabel dependen
y = Data_jantung["output"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: output, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 123)

In [20]:
from sklearn.naive_bayes import GaussianNB
# Mengaktifkan/memanggil/membuat fungsi klasifikasi Naive Bayes
modelnb = GaussianNB()
# Memasukkan data training pada fungsi klasifikasi Naive Bayes
nbtrain = modelnb.fit(x_train, y_train)

In [21]:
# Menentukan hasil prediksi dari x_test
y_pred = nbtrain.predict(x_test)
y_pred

array([1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0], dtype=int64)

In [22]:
np.array(y_test)

array([1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1], dtype=int64)

In [23]:
# Menentukan probabilitas hasil prediksi
nbtrain.predict_proba(x_test)

array([[5.82571613e-04, 9.99417428e-01],
       [9.99240610e-01, 7.59390366e-04],
       [9.99938869e-01, 6.11309321e-05],
       [9.99992658e-01, 7.34177465e-06],
       [3.63366729e-03, 9.96366333e-01],
       [9.99951069e-01, 4.89308903e-05],
       [8.58720034e-03, 9.91412800e-01],
       [5.98819913e-01, 4.01180087e-01],
       [5.96228807e-04, 9.99403771e-01],
       [9.33511439e-01, 6.64885614e-02],
       [9.97942318e-01, 2.05768198e-03],
       [4.57117589e-01, 5.42882411e-01],
       [9.99999986e-01, 1.36224796e-08],
       [9.99995730e-01, 4.26988712e-06],
       [5.16991611e-01, 4.83008389e-01],
       [1.00000000e+00, 5.08353833e-11],
       [9.10174530e-01, 8.98254697e-02],
       [9.86808541e-01, 1.31914589e-02],
       [5.72076923e-01, 4.27923077e-01],
       [2.24348439e-01, 7.75651561e-01],
       [1.35283843e-01, 8.64716157e-01],
       [9.99163302e-01, 8.36698360e-04],
       [4.11827050e-05, 9.99958817e-01],
       [9.82142245e-01, 1.78577552e-02],
       [9.87487847e-01, 1.25121528e-02],
       [6.12756815e-01, 3.87243185e-01],
       [9.98445679e-01, 1.55432096e-03],
       [5.27229563e-01, 4.72770437e-01],
       [9.99999798e-01, 2.01877057e-07],
       [8.92625300e-01, 1.07374700e-01],
       [9.99977531e-01, 2.24690154e-05],
       [2.83019736e-01, 7.16980264e-01],
       [6.30801388e-02, 9.36919861e-01],
       [9.99898787e-01, 1.01213253e-04],
       [3.84301563e-01, 6.15698437e-01],
       [2.48969111e-04, 9.99751031e-01],
       [3.27891000e-02, 9.67210900e-01],
       [1.25745349e-01, 8.74254651e-01],
       [2.46760601e-04, 9.99753239e-01],
       [2.15045133e-02, 9.78495487e-01],
       [6.63584159e-04, 9.99336416e-01],
       [4.14585955e-01, 5.85414045e-01],
       [9.99647022e-01, 3.52978207e-04],
       [5.65078130e-04, 9.99434922e-01],
       [9.19585446e-03, 9.90804146e-01],
       [9.87381063e-01, 1.26189369e-02],
       [9.99990910e-01, 9.09037606e-06],
       [7.91427151e-01, 2.08572849e-01],
       [1.38836067e-02, 9.86116393e-01],
       [9.89442682e-03, 9.90105573e-01],
       [9.96646980e-01, 3.35301971e-03],
       [9.98756337e-01, 1.24366336e-03],
       [6.90049722e-04, 9.99309950e-01],
       [5.95604279e-01, 4.04395721e-01],
       [8.21909495e-02, 9.17809050e-01],
       [1.52842321e-01, 8.47157679e-01],
       [9.95476149e-01, 4.52385096e-03],
       [2.45417179e-02, 9.75458282e-01],
       [9.92418418e-01, 7.58158236e-03],
       [8.00379195e-02, 9.19962080e-01],
       [9.97808961e-01, 2.19103887e-03]])

In [24]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[27,  3],
       [ 7, 24]], dtype=int64)

In [25]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.79      0.90      0.84        30
           1       0.89      0.77      0.83        31

    accuracy                           0.84        61
   macro avg       0.84      0.84      0.84        61
weighted avg       0.84      0.84      0.84        61